<head>
	<link rel='stylesheet' type='text/css' href='styles/style.css'>
	<title>Welcome! - Nonchalant Guidance</title>
</head>
<div align='center'>
<h1><a href="index.html">Nonchalant Guidance</a></h1>
<a href='aboutme.html'>About Me</a>·<a href='comingsoon.html' title='coming soon!'>RSS</a>·<a href="https://github.com/gotlougit">GitHub</a></p>
<p>This is my website! It's still a work in progress in some areas but I'll be polishing it up in the future.</p>

<p>Here you will find blogposts on programs I write, or projects I contribute to, as well as cool stuff I find on the Internet from time to time.</p>
</div>
<form method="get" id="ddgSearch" action="https://duckduckgo.com/">
    <input type="hidden" name="sites" value="gotlougit.github.io"/>
    <input type="hidden" name="k7" value="#ffffff"/>
    <input type="hidden" name="k8" value="#222222"/>
    <input type="hidden" name="k9" value="#00278e"/>
    <input type="hidden" name="kx" value="#20692b"/>
    <input type="hidden" name="kj" value="#fafafa"/>
    <input type="hidden" name="kt" value="p"/>
    <input type="text" name="q" placeholder="Search this website.." aria-label="Search gotlougit.github.io on DuckDuckGo"/>
    <button type="submit">Search</button>
</form>
<hr />
<!-- HEAD END -->
