body {
  background-color: #222222;
  color:#bababa;
  font-size:1.5vw;
  font-family: monospace;
}

h1 {
  color: #eaeaea;
  text-align: center;
  font-size:3vw;
}

html {
  scrollbar-width: thin;
}

a {
  color:#eaeaea;
}
